body {
  font-family: "Montserrat", sans-serif;
  margin: 3% 5%;
  background-color: #111111;
  color: white;
  text-align: center;
}

.sub-header {
  color: rgb(207, 207, 207);
}

.main-container {
  padding: 1rem 0;
  border-bottom: 2px solid white;
}

.graphContainer-left {
  width: 75%;
  display: inline-block;
  padding: 0 20;
  vertical-align: top;
}

.graphContainer-right {
  width: 25%;
  display: inline-block;
  padding: 2.5% 0;
  vertical-align: top;
  text-align: left;
}

.filter-header {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.team-header {
  margin: 4% 0 0 0;
  text-align: center;
}

.team-container-left {
  width: 25%;
  display: inline-block;
  vertical-align: text-bottom;
  text-align: center;
  margin-bottom: 3rem;
}

.logo {
  max-width: 50%;
  max-height: 50%;
}

.team-container-right {
  width: 75%;
  display: inline-block;
}

#click-data-record {
  font-size: 1.5rem;
}